body {
  background-color: #eee;
  padding: 0;
  margin: 0;
}

.actions {
  position: absolute;
  top: 10px;
  left: 10px;
}

.current {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #fff;
}
